<!DOCTYPE html>
<html>
<head>
<title>SmartServe</title>

<style>
body{
background:url("https://images.unsplash.com/photo-1581578731548-c64695cc6952");
background-size:cover;
text-align:center;
color:white;
font-family:Arial;
}

.box{
margin-top:200px;
background:rgba(0,0,0,0.6);
padding:40px;
display:inline-block;
border-radius:15px;
}

button{
padding:15px 30px;
font-size:18px;
background:orange;
border:none;
border-radius:8px;
}
</style>
</head>

<body>

<div class="box">
<h1>SMARTSERVE</h1>
<h3>Home Service Booking System</h3>

<a href="/login">
<button>Get started</button>
</a>
</div>

</body>
</html>